@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

td {
  word-break: keep-all;
}

td:first-of-type {
  white-space: pre;
}

blockquote * {
  @apply before:content-none! not-italic font-light! text-neutral-700 dark:text-neutral-400;
}

blockquote strong {
  @apply text-neutral-950 dark:text-neutral-200 font-medium!;
}
